body{
    margin: 0%;
    padding: 0;
    background-color: blue;
}
.centre{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    width: 800px;
    background-color: aliceblue;
    border-radius: 5px;
}
.centre h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom:1px solid silver;
}
.form{
    padding-bottom: 15px;
    margin:0 20px;
}
